
.articles{
    display: flex;
    flex-direction: column;
	padding-bottom: 100px;
	&__right{
		margin-top: -10px;
		&__link{
			margin-right: 10px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		a{
			color: #303030;
			font-size: 14px;
			text-transform: uppercase;
		}

	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 10px;
		flex-wrap: wrap;
	}
	&__item{
		max-width: 312px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		
		&:hover{
			opacity: 0.6;
		}
	}
	&__date{
		font-size: 14px;
		color: #8F8F8F;
		margin-bottom: 10px;
	}
	&__image{
		margin-bottom: 20px;
	}
	&__subtitle{
		line-height: 25px;
	}
	
}