/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&family=Roboto:wght@400;700&display=swap');
/*--@import "nullstyle.scss";--*/
@import "./slider.scss";
//миксины
@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin scale($num){
-moz-transform: scale($num);
-ms-transform: scale($num);
-webkit-transform: scale($num);
-o-transform: scale($num);
transform: scale($num);
}
@mixin anim($time,$delay){
-webkit-transition: all $time ease $delay; 
-moz-transition: all $time ease $delay;
-ms-transition: all $time ease $delay;
-o-transition: all $time ease $delay;
transition: all $time ease $delay;
}
@mixin rotate($deg){
-moz-transform: rotate($deg);
-ms-transform: rotate($deg);
-webkit-transform: rotate($deg);
-o-transform: rotate($deg);
transform: rotate($deg);
}

@mixin flexorder($val){
-webkit-box-ordinal-group:$val;
-moz-box-ordinal-group:$val;
-ms-flex-order:$val;
-webkit-order:$val;
order:$val;
}

$font-family: "inter";
$mb-section:120px;
$text-color:#303030;
body{
	font-family: "inter";
	padding: 0 10px;
	
}
h1{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	text-transform: uppercase;
}
h2{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}
h3{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
}


.container{
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
}
.title{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
	color: #303030;
	margin-bottom: 40px;
}

.btn {
	background: #303030;
	border: none;
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 21px 55px;
	&:hover{
		background: #505050;
	}
	&:active{
		background: #000000;
	}
}
.btn__circle{
	padding: 13px 30px;
	color: #303030;
	font-size: 14px;
	border-radius: 21px;
	&:hover{
		background: #DDDDDD;
	}
	&:active{
		background: #303030;
		color: #FFFFFF;
	}
}

.header{
	margin-top:24px;
	margin-bottom: 20px;
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 23px;
	}
	&__left{
		display: flex;
		/* border: 1px solid grey; */
		margin-top: 10px;
	}
	&__location{
		display: flex;
		margin-right: 60px;
		&__icon{
			margin-right: 10px;
		}
		&__dropdown{
			margin-right: 10px;
		}
		&:hover{
			opacity: 0.5;
		}
	}
	&__phone{
		display: flex;
		&__icon{
			margin-right: 10px;
		}
		&:hover{
			opacity: 0.5;
		}
	}
	&__logo{
		margin-left: -25px;
		/* border: 1px solid grey; */
	}
	&__right{
		margin-top: 10px;
		display: flex;
		/* border: 1px solid grey; */
	}
	&__icons{
		position: relative;
		display: flex;
		&__basket{
			margin-left: 35px;
			&:hover{
				opacity: 0.5;
			}
		}
		&__statistics{
			margin-left: 35px;
			&:hover{
				opacity: 0.5;
			}
		}
		&__like{
			&:hover{
				opacity: 0.5;
			}
		}
		&__counter{
			&:hover{
				opacity: 0.5;
			}
			top: -10px;
			left: 10px;
			/* border: 1px solid grey; */
			position: absolute;
			border-radius: 50%;
			background: #E46942;
			&__text{
				
				font-size: 10px;
				font-weight: 700;
				padding: 3px;
				color: #FFFFFF;
			}
			
		}
		
	}
	&__account{
		display: flex;
		margin-right: 70px;
		&__registration{
			margin-left: 20px;
			&:hover{
				opacity: 0.5;
			}
		}
		&__enter{
			position: relative;
			::after{
				content: "";
				
				display: block;
				width: 1px;
				height: 10px;
				background-color: black;
				position: absolute;
				left: 45px;
				top: 3px;		
			}
			&:hover{
				opacity: 0.5;
			}
		}
		
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #F8F8F8;
	}
	&__menu{
		padding: 25px 0px;
	}
	&__list{
		display: flex;
		li{
			margin-left: 60px;
		}
	}
	&__link{
		font-weight: 500;
		font-size: 13px;
		text-transform: uppercase;
		color: #303030;
		&:hover{
			opacity: 0.5;
		}
	}
	&__search{
		position: relative;
		height: 100%;
		padding: 25px 47px;
		border-left: 1px solid #F1F1F1;
		&__input{
			width: 200px;
			background-color:#F8F8F8;
			font-size: 14px;
		}
		&__icon{
			position: absolute;
			left:8%;
			top: 40%;
		}
	}
	&__burger{
		display: none;
	}

}

.slider{
	margin-bottom: 105px;
	&__item{
		background: #F8F8F8;
		display: flex;
		justify-content: space-around;
	}
	&__description{
		margin-top: 176px;
		margin-left: 70px;
		&__subject{
			font-family: 'Prata';
			color: $text-color;
			font-size: 20px;
			margin-bottom: 30px;
		}
		&__title{
			margin-bottom: 54px;
		}
	}
	
}


.main-slider{
	position: relative;
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}

.main-slider .slick-arrow{
	position: absolute;
	top: 42.7%;
	z-index: 10;

}
.main-slider .slick-arrow.slick-prev{
	left: 0;
	background-color: white;
	opacity: 0.5;
	padding: 27px;
	border-radius: 50%;
	font-size: 0;
	margin-left: 15px;
	border: 1px solid black;
}
.main-slider .slick-arrow.slick-prev::after{
	content: "";
	display: block;
	background-image: url("../../img/icons/slider_right_arrow.svg");
	background-repeat: no-repeat;
	width: 16px;
	height: 20px; 
	position: absolute;
	transform: rotate(180deg);
	top: 12px;
	left: 17px;
}

.main-slider .slick-arrow.slick-prev:hover{
	background: #F5F5F5;
}
.main-slider .slick-arrow.slick-prev:active::after{
	left: 2px;
	transition: left 0.3s ease-in-out;
}



.main-slider .slick-arrow.slick-next{
	right: 0;	
	background-color: white;
	opacity: 0.5;
	padding: 27px;
	border-radius: 50%;
	font-size: 0;
	border: 1px solid black;
	margin-right: 30px;
	
}
.main-slider .slick-arrow.slick-next::after{
	content: "";
	display: block;
	background-image: url("../../img/icons/slider_right_arrow.svg");
	background-repeat: no-repeat;
	width: 16px;
	height: 20px; 
	position: absolute;
	top: 23px;
	left: 17px;
}
.main-slider .slick-arrow.slick-next:hover{
	background: #F5F5F5;
}
.main-slider .slick-arrow.slick-next:active::after{
	left: 30px;
	transition: left 0.3s ease-in-out;
}

.main-slider .slick-dots{
	position: relative;
	top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.main-slider .slick-dots li{
	list-style: none;
	margin: 0 4px;
}
.main-slider .slick-dots button{
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 1px solid #303030;
	border-radius: 50%;
}
.main-slider .slick-dots li.slick-active button{
	background-color: #000000;
}

.popular{
	margin-bottom: $mb-section;
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #F8F8F8;
		min-height: 259px;
		min-width: 200px;
		img{
			margin-top: 30px;
			transition: transform 0.5s;
			&:hover{
				
				transform: scale(1.2);
			
			}
		}
		&__text{
			margin-bottom: 30px;
		}
	}	
}

.sale{
	margin-bottom: $mb-section;
	&__top{
		margin-bottom: 36px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
	}
	&__item{
		max-width:310px;
		border: 1px solid #F0F0F0;
		position: relative;
		&__top{
			display: flex;
			justify-content: space-between;
			margin: 20px 20px 0px 20px;
			&__text{
				padding: 4px 14px;
				background-color: #5B8A8F;
				border-radius: 30px;
				color: #FFFFFF;
				font-size: 12px;
			}
		}
		&__icons{
			display: flex;
			flex-direction: column;
			
			&__eye{
				position:absolute;
				right: 20px;
				top: 55px;
				z-index: 100;
			}
		}
		&__img{
			text-align: center;
			margin-bottom: 30px;
			width: 100%;
			scale: 1;
		}
		&__price{
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			margin-left: 25px;
			margin-right: 20px;
			&__real{
				font-weight: 600;
				font-size: 18px;
			}
			&__last{
				text-decoration: line-through;
				color: #8F8F8F;
				margin-right: 50px;
			}
			&__discont{
				padding: 7px 7px;
				background-color: #E24B33;
				border-radius: 20px;
				margin-top: -9px;
				color: #F0F0F0;
			}
		}
		&__title{
			margin-left: 25px;
			line-height: 22.4px;
			margin-bottom: 10px;
		}
	}
	&__title{
		margin-bottom: 24px;
	}
}

.discount{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: $mb-section;
	
	&__item{
		max-width: 420px;
		display: flex;
		background: #F8F8F8;
	}
}


.products-day{
	&__body{
		display: flex; 
	}
	&__left__tabs{
		display: flex;
	}
}




.articles{
	padding-bottom: 100px;
	&__right{
		margin-top: -10px;
		&__link{
			margin-right: 10px;
		}
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		a{
			color: #303030;
			font-size: 14px;
			text-transform: uppercase;
		}

	}
	&__bottom{
		
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__item{
		max-width: 312px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&__date{
		font-size: 14px;
		color: #8F8F8F;
		margin-bottom: 10px;
	}
	&__image{
		margin-bottom: 20px;
	}
	&__subtitle{
		line-height: 25px;
	}
}



.sale__slider{
	position: relative;
}

.sale__slider .slick-list{
	overflow: hidden;
}
.sale__slider .slick-track{
	display: flex;
	justify-content: space-between;
}



.sale__slider .slick-arrow{
	position: absolute;
	top: -25%;
	z-index: 10;

}
.sale__slider .slick-arrow.slick-prev{
	right: 5%;
	background-color: white;
	opacity: 0.5;
	padding: 27px;
	border-radius: 50%;
	font-size: 0;
	margin-left: 0px;
	border: 1px solid black;
}
.sale__slider .slick-arrow.slick-prev::after{
	content: "";
	display: block;
	background-image: url("../../img/icons/slider_right_arrow.svg");
	background-repeat: no-repeat;
	width: 16px;
	height: 20px; 
	position: absolute;
	transform: rotate(180deg);
	top: 12px;
	left: 17px;
}

.sale__slider .slick-arrow.slick-prev:hover{
	background: #F5F5F5;
}
.sale__slider .slick-arrow.slick-prev:active::after{
	left: 2px;
	transition: left 0.3s ease-in-out;
}



.sale__slider .slick-arrow.slick-next{
	right: 0%;	
	background-color: white;
	opacity: 0.5;
	padding: 27px;
	border-radius: 50%;
	font-size: 0;
	border: 1px solid black;
	
}
.sale__slider .slick-arrow.slick-next::after{
	content: "";
	display: block;
	background-image: url("../../img/icons/slider_right_arrow.svg");
	background-repeat: no-repeat;
	width: 16px;
	height: 20px; 
	position: absolute;
	top: 23px;
	left: 17px;
}
.sale__slider .slick-arrow.slick-next:hover{
	background: #F5F5F5;
}
.sale__slider .slick-arrow.slick-next:active::after{
	left: 30px;
	transition: left 0.3s ease-in-out;
}

.sale__slider .slick-dots{
	position: relative;
	top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.sale__slider .slick-dots li{
	list-style: none;
	margin: 0 4px;
}
.sale__slider .slick-dots button{
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 1px solid #303030;
	border-radius: 50%;
}
.sail__slider .slick-dots li.slick-active button{
	background-color: #000000;
}



.sale__item__slider{
	position: relative;
}

.sale__item__slider .slick-list{
	overflow: hidden;
}
.sale__item__slider .slick-track{
	display: flex;
	justify-content: space-between;
}


.sale__item__slider .slick-dots{
	position: relative;
	top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.sale__item__slider .slick-dots li{
	list-style: none;
	margin: 0 4px;
}
.sale__item__slider .slick-dots button{
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 1px solid #303030;
	border-radius: 50%;
}
.sale__item__slider .slick-dots li.slick-active button{
	background-color: #000000;
}




/* 
@media (max-width:767px){
	.header__burger{
		position: absolute;
		display: block;
		width: 30px;
		height: 20px;
		z-index: 200;
		&::before{
			content: '';
			background-color: rgb(236, 47, 47);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::after{
			content: '';
			background-color: rgb(236, 47, 47);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
		span{
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			background-color: rgb(236, 47, 47);
		}
		
	}
	.header__menu{
		position: fixed;
		top: 0%;
		left: 0;
		z-index: 150;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
} */