/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&family=Roboto:wght@400;700&display=swap');
/*--@import "nullstyle.scss";--*/
@import "./header.scss";
@import "./main-slider.scss";
@import "./sail-slider.scss";
@import "./sail-item-slider.scss";
//миксины
@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin scale($num){
-moz-transform: scale($num);
-ms-transform: scale($num);
-webkit-transform: scale($num);
-o-transform: scale($num);
transform: scale($num);
}
@mixin anim($time,$delay){
-webkit-transition: all $time ease $delay; 
-moz-transition: all $time ease $delay;
-ms-transition: all $time ease $delay;
-o-transition: all $time ease $delay;
transition: all $time ease $delay;
}
@mixin rotate($deg){
-moz-transform: rotate($deg);
-ms-transform: rotate($deg);
-webkit-transform: rotate($deg);
-o-transform: rotate($deg);
transform: rotate($deg);
}

@mixin flexorder($val){
-webkit-box-ordinal-group:$val;
-moz-box-ordinal-group:$val;
-ms-flex-order:$val;
-webkit-order:$val;
order:$val;
}

$font-family: "inter";
$mb-section:120px;
$text-color:#303030;
body{
	font-family: "inter";
	padding: 0 10px;
	
}
h1{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	text-transform: uppercase;
}
h2{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}
h3{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
}


.container{
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
}
.title{
	font-family: 'Prata';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
	color: #303030;
	margin-bottom: 40px;
}

.btn {
	background: #303030;
	border: none;
	color: white;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 21px 55px;
	&:hover{
		background: #505050;
	}
	&:active{
		background: #000000;
	}
}
.btn__circle{
	padding: 13px 30px;
	color: #303030;
	font-size: 14px;
	border-radius: 21px;
	&:hover{
		background: #DDDDDD;
	}
	&:active{
		background: #303030;
		color: #FFFFFF;
	}
}



.slider{
	margin-bottom: 105px;
	&__item{
		background: #F8F8F8;
		display: flex;
		justify-content: space-around;
	}
	&__description{
		margin-top: 176px;
		margin-left: 70px;
		&__subject{
			font-family: 'Prata';
			color: $text-color;
			font-size: 20px;
			margin-bottom: 30px;
		}
		&__title{
			margin-bottom: 54px;
		}
	}
	
}




.popular{
	margin-bottom: $mb-section;
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #F8F8F8;
		min-height: 259px;
		min-width: 200px;
		img{
			margin-top: 30px;
			transition: transform 0.5s;
			&:hover{
				
				transform: scale(1.2);
			
			}
		}
		&__text{
			margin-bottom: 30px;
		}
	}	
}

.sale{
	margin-bottom: $mb-section;
	&__top{
		margin-bottom: 45px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
	}
	&__item{
		max-width:310px;
		border: 1px solid #F0F0F0;
		position: relative;
		&__top{
			display: flex;
			justify-content: space-between;
			margin: 20px 20px 0px 20px;
			&__text{
				padding: 4px 14px;
				background-color: #5B8A8F;
				border-radius: 30px;
				color: #FFFFFF;
				font-size: 12px;
			}
		}
		&__icons{
			display: flex;
			flex-direction: column;
			
			&__eye{
				position:absolute;
				right: 20px;
				top: 55px;
				z-index: 100;
			}
		}
		&__img{
			text-align: center;
			margin-bottom: 18px;
			width: 100%;
			scale: 1;
		}
		&__price{
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			margin-left: 25px;
			margin-right: 20px;
			&__real{
				font-weight: 600;
				font-size: 18px;
			}
			&__last{
				text-decoration: line-through;
				color: #8F8F8F;
				margin-right: 50px;
			}
			&__discont{
				padding: 7px 7px;
				background-color: #E24B33;
				border-radius: 20px;
				margin-top: -9px;
				color: #F0F0F0;
			}
		}
		&__title{
			margin-left: 25px;
			line-height: 22.4px;
			margin-bottom: 10px;
		}
	}
	&__title{
		margin-bottom: 24px;
	}
}

.discount{
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	gap: 1rem;
	margin-bottom: $mb-section;
	
	&__item{
		max-width: 420px;
		display: flex;
		background: #F8F8F8;
		
	}
	&__description{
		
	}
	&__text{
		font-size: 20px;
		color: #303030;
    	line-height: 32px;
		font-weight: 600;
		text-transform: uppercase;
		margin:80px 0 20px 30px;
	}
	&__count{
		
		
		&__text{
			margin-right: 60px;
			padding: 10px 0px 5px 10px;
			background-color: #E24B33;
			color: #F0F0F0;
			font-size: 23px;
			span{
				font-size: 40px;
			}
		}
	}
	

}


.products-day{
	&__body{
		display: flex; 
		justify-content: space-between;
	}
	&__left{
		
		margin-right: 95px;
		&__tabs{
			display: flex;
			margin-left: 15px;
			gap:5px;
			margin-top: 15px;
			
		
		}
	}
	&__right{
		
		flex: 1 0 auto;
	}
	&__tabs__item{
		padding: 3px 10px 3px 10px;
		background-color: #5B8A8F;
		border-radius: 20px;
		color: #F0F0F0;
	}
	.-y{
		background-color: #E24B33;
	}
	.-g{
		background-color: #8F8F8F;
	}
	&__rank{
		margin-bottom: 20px;
		&__name{
			margin-bottom: 20px;
		}
		&__articul{
			line-height: 14px;
			color: #8F8F8F;
			margin-bottom: 27px;
		}
	}
	&__promotion{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 60px;
		padding-bottom: 20px;
		border-bottom: 1px solid #F0F0F0;
	}
	&__price{
		display: flex;
		align-items: flex-end;
	}
	&__timer{
		display: flex;
	}
	&__real__price{
		font-weight: 600;
		font-size: 20px;
		color: #303030;
		line-height: 20px;
		margin-right: 18px;
	}
	&__discount__price{
		font-size: 16px;
		line-height: 16px;
		text-decoration: line-through;
		color: #8F8F8F;
		margin-right: 20px;
	}
	&__discount{
		padding: 4px 7px 4px 7px;
		color: #FFFFFF;
		background-color: #E24B33;
		border-radius: 20px;
	}
	&__color{
		
		margin-bottom:20px;
		&-list{
			display: flex;
			gap: 9px;	
		}
		&__text{
			font-weight: 600;
			font-size: 12px;
			color: #303030;
			line-height: 12px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	&__color-button{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #dadada;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		padding: 4px;
		background-color: white;
		&__grey{
			background-color: #D9D9D9;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			
		}
		&__orange{
			background-color: #F1CB7E;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		&__brown{
			background-color: #EA8C48;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		&__green{
			background-color: #A7E492;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		&:active{
			border: 1px solid #000000;
		}
	}
	&__action{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__buttons{
		display: flex;
		flex-direction: column;
		gap:10px;
		flex: 1 1 auto;
		margin-right: 40px;
	}
	&__icons{
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-right: 120px;
		&__save{
			display: flex;
			gap:5px;
		}
		&__compare{
			display: flex;
			gap:7px;
		}
		&__share{
			display: flex;
			align-items: center;
			gap:5px;
		}
	}
	&__size{

		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 30px;
		&__top{
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
		}
		&__bottom{
			display: flex;
			gap: 15px;
		}
		&__button{
			padding: 8px;
			background-color: #fff;
			border: 1px solid #D9D9D9;
			&:hover{
				border: 1px solid #303030;	
			}
			&:active{
				color: #F0F0F0;
				background-color: #303030;

			}
		}
	}
}



.articles{
	padding-bottom: 100px;
	&__right{
		margin-top: -10px;
		&__link{
			margin-right: 10px;
		}
	}
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		a{
			color: #303030;
			font-size: 14px;
			text-transform: uppercase;
		}

	}
	&__bottom{
		
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		
	}
	&__item{
		max-width: 312px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		
		&:hover{
			opacity: 0.6;
		}
	}
	&__date{
		font-size: 14px;
		color: #8F8F8F;
		margin-bottom: 10px;
	}
	&__image{
		margin-bottom: 20px;
	}
	&__subtitle{
		line-height: 25px;
	}
	
}

.deadline{
	margin-right: 160px;
	
	display: flex;
	gap: 20px;
	padding: 10px;
	background-color: #F1F1F1;
	&-format{
		padding: 5px;
		background-color: #fff;
		border:1px solid #CFCFCF;
	}
	&-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4{
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 3px;
		}
		span{
			font-size: 12px;
			color: #8F8F8F;
		}
	}
}










/* 
@media (max-width:767px){
	.header__burger{
		position: absolute;
		display: block;
		width: 30px;
		height: 20px;
		z-index: 200;
		&::before{
			content: '';
			background-color: rgb(236, 47, 47);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::after{
			content: '';
			background-color: rgb(236, 47, 47);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
		span{
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			background-color: rgb(236, 47, 47);
		}
		
	}
	.header__menu{
		position: fixed;
		top: 0%;
		left: 0;
		z-index: 150;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
} */